#div_principal_footer{
    height: 17vw;
    background-color: rgba(34, 31, 31);
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap:15%;
    padding: 0% 10% 0% 10%;
}

#ul_social_networks{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.social_network_img{
    filter: invert(100%);
    height: 100%;
}

.social_network_li{
    height: 1.3vw;
}

#footer_tags_div{
    list-style: none;
    justify-content: left;
}