#banner_div{
    background-image: url("https://a.storyblok.com/f/178900/1920x1080/b86248a9cf/one-piece-elbaph-arc-key-art-wide.png/m/1200x0/filters:quality(95)format(webp)");
    height: 800px;
    background-size: cover;
}