.carousel-row {
  color: white;
  padding: 20px 0;
  background-color: #141414;
}

.carousel-row h2 {
  margin-left: 50px;
  padding: 5px 0;
  font-size: 1.5rem;
}

.carousel-container {
    margin: 10px 0;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 0 50px;
    gap: 8px;
    width: 100%;
}

