#nav_container{
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 40%, transparent 90%);
    height: 17%;
    flex-direction: row;
    display:flex;
    align-items:center;
    gap: 4%;
    white-space: nowrap;
    height: 80px;
    padding-top: 0%;
    padding-bottom: 0%;
}

#search_input{
    height: 50%;
    width: 20vw;
    background-color:rgb(39, 39, 39);
    color: white;
    margin-right: 1.5%;
}

#search_input::placeholder{
    color: white;
}

#nav_scrolled{
    background-color: black;
    height: 80px;
    flex-direction: row;
    display:flex;
    align-items:center;
    gap: 4%;
    white-space: nowrap;
    padding-top: 0%;
    padding-bottom: 0%;
}

#div_buttons{
    display: flex;
}

#ul_container{
    gap: 3%;
}

#ul_container_profile{
    padding-right: 3%;
    gap:7%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items:center;
}

#container{
    padding-left:3%;
    display: flex;
    flex-direction: row;
    height: 100%;
    width:100%;
    align-items: center;
    white-space: nowrap;
}

#a_font{
    color: white;
    font-size: 0.8vw;
    font-weight: 700;
    transition: color 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    min-inline-size: 0%;
}

#a_logo{
    display: block;
    min-width: 70px;
    width: 14vw;
    height: auto;
}

#logo_netflix{
    object-fit: contain;
    margin-right: 0px;
    display: flex;
    align-items: center;
    max-width: 100%;
    min-width: 80%;
}

#browse_btn{
    color: white;
    font-weight:700;
    border: none;
    font-size: 1.2vw;
    margin-right: 20%;
    height: 100%;
}

#browse_btn:active{
    border-width: 0px;
}

#a_font:hover{
    color:rgb(208, 208, 208);
}

#icon_format{
    filter: invert(100%);
    width: 24px;
    height: 24px;
}

#profile_picture{
    width: 33px;
    height: 33px;
    border-radius: 10%;
}

#div_browse_menu{
    margin-left: 3%;
    background-color: rgba(34, 31, 31, 0.96);
    z-index: 1;
    width: 50%;
    border-top: 3px solid white;
}

#ul_browse_menu{
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#a_browse_menu{
    color: white;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    min-inline-size: 0%;
    height: 100%;
}

#a_browse_menu:hover{
    background-color: rgb(41, 41, 41);
}

#ul_settings{
    background-color: rgb(39, 39, 39);
    height: auto;
    width: auto;
    margin-right: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 9px;
    gap: 6px;
}